* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    height: 100vh;
}

.container {
    display: flex;
    height: 100vh;
}

/* Lado esquerdo */
.left {
    width: 50%;
    background-color: #0c3879;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    padding: 40px;
}

.left-content {
    max-width: 400px;
}

.left h1 {
    font-size: 32px;
    margin-bottom: 20px;
}

.left p {
    font-size: 16px;
    line-height: 1.5;
}

/* Lado direito */
.right {
    width: 50%;
    background-color: #f5f6f8;
    display: flex;
    align-items: center;
    justify-content: center;
}

.login-box {
    width: 350px;
}

.login-box h2 {
    margin-bottom: 10px;
}

.login-box p {
    margin-bottom: 20px;
    color: #555;
}

form {
    display: flex;
    flex-direction: column;
}

form label {
    margin-bottom: 5px;
    font-size: 14px;
}

form input {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 6px;
}
/* botao de enviuar */
form button {
    padding: 12px;
    border: none;
    background-color: #1e3a5f;
    color: white;
    border-radius: 6px;
    cursor: pointer;
    font-weight: bold;
}

form button:hover {
    background-color: #0a8345;
}

.register {
    display: block;
    margin-top: 15px;
    font-size: 14px;
}

.register a {
    color: #1e3a5f;
    text-decoration: none;
    font-weight: bold;
}